<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @temperature.value %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @temperature.sensor_id %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
